button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #514caf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background-color: #45a049;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: none;
  border: none;
  height: 220px;
}
